.xarita__box2{
  display: flex;
  max-width: 1045px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.xarita__text{
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
margin-top: 24px;
/* or 162% */


color: #333D4B;

}
.xarita__title2{
margin-left: 115px;
margin-bottom: 72px;
  font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #83888F;
margin-top: 168px;
}